
@main("Профиль") {
        <section class="main no-padding" style="margin-top: 100px;" ng-controller="accountCtrl">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="widget">
                            <div class="widget-header">
                                <h3>Меню</h3>
                            </div>
                            <div class="widget-body" ng-controller="mainCtrl">
                                <ul class="author-menus">
                                    <!--<li><a href="account_create_post.html">Сообщения</a></li>-->
                                    <li><a href="/account">Мой профиль</a></li>
                                    <li><a href="/account/announcements">Обьявления</a></li>
                                    <li><a href="" ng-click="doLogout()">Выход</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Мой профиль</h4>
                            </div>

                            <form accept-charset="utf-8" id="UserProfileForm" class="form-horizontal" ng-submit="updateUser(this.email)">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Email-адрес</label>
                                        <div class="col-sm-9">
                                            <input type="email" required="required"  ng-model="email" maxlength="100" class="form-control" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Контактное лицо</label>
                                        <div class="col-sm-9">
                                            <input type="text" value="" class="form-control" ng-model="contact">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Телефон</label>
                                        <div class="col-sm-9">
                                            <input type="tel"  value="" class="form-control" ng-model="phone" pattern="\d{7,12}" title="Номер телефона">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Пароль</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" ng-model="password" placeholder="Оставьте пустым если не хотите изменять пароль" value="">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Подтвердите пароль</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="confpassword" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9"> </div>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-save" ng-show="!loading"></i><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Сохранить</button>
                                            <p id="error" style="display: inline-block; color: red; margin-left: 10px;" ng-cloak><i class="fa fa-remove"></i> {{error}}</p>
                                            <p id="success" style="display: inline-block; color: green; margin-left: 10px;" ng-cloak><i class="fa fa-check"></i> {{success}}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <script>
        angular.module('lostfoundApp', ['ui.bootstrap'])
        .controller('mainCtrl', function($scope, $http, $timeout) {

                $scope.checkSession = function(){
                    $scope.showUserMenu = false;
                    $scope.showProfileLink = false;
                    $http.post('@routes.Account.checkSession()')
                    .success(function(data){
                        if(data.error == ""){
                            $scope.showUserMenu = true;
                            $scope.profile = data.email.substring(0, data.email.lastIndexOf("@@"));
                        }
                        else{
                            $scope.showProfileLink = true;
                        }
                    }).error(function(data){
                        console.log(data);
                    });
                }

                $scope.doLogout = function(){
                    $http.post('@routes.Account.logout()')
                    .success(function(data){
                        window.location.replace("/");
                    }).error(function(data, status){
                        console.log(data);
                    });
                }
        })
        .controller('accountCtrl', function($scope, $http) {
                $scope.phone = "";
                $scope.password = "";
                $scope.сonfpassword = "";
                $("#error").hide();
                $("#success").hide();
                $scope.loadUserData = function(){
                    $http.post('@routes.Account.checkSession()')
                    .success(function(data){
                        if(data.error == ""){
                            $scope.email = data.email;
                            localStorage.setItem("EMAIL",data.email);
                            localStorage.setItem("CONTACT",data.contact);
                            $scope.contact = data.contact;
                            $scope.phone = data.phone;
                        }
                        else{
                            window.location.replace("/account/signin");
                        }
                        }).error(function(data, status){
                            console.log(data);
                    });
                }
                $scope.loadUserData();

                 $scope.doLogout = function(){
                    $http.post('@routes.Account.logout()')
                    .success(function(data){
                        window.location.replace("/");
                    }).error(function(data, status){
                        console.log(data);
                    });
                 }

                 $scope.loading = false;
                 $scope.updateUser = function(email){
                    if($scope.password != "" && $scope.password != $scope.confpassword){
                        $scope.error = "Пароли не совпадают";
                        $("#error").show().delay(3000).fadeOut("slow");
                        return;
                    }

                    if($scope.password != "" && $scope.password.length < 6){
                        $scope.error = "Минимальная длина пароля - 6 символов";
                        $("#error").show().delay(3000).fadeOut("slow");
                        return;
                    }

                    if($scope.contact == null){
                        $scope.contact = "";
                    }
                    var request =  {"email":$scope.email,"contact":$scope.contact,"phone":$scope.phone,"password":$scope.password};
                    $scope.loading = true;
                    $http.post('@routes.Account.updateUser()', request)
                    .success(function(data){
                        $scope.loading = false;
                        if(data.error == ""){
                            $scope.loadUserData();
                            $scope.success = "Профиль успешно обновлен";
                            $("#success").show().delay(3000).fadeOut("slow");
                        }
                        else{
                            $scope.error = "Не удалось обновить профиль";
                            $("#error").show().delay(3000).fadeOut("slow");
                        }
                    }).error(function(data, status){
                        $scope.loading = false;
                        $scope.error = "Не удалось обновить профиль";
                        $("#error").show().delay(3000).fadeOut("slow");
                        console.log(data);
                    });
                 }
		})
    </script>

}