
@main("Мои обьявления - Поиск потерянных вещей. Бюро находок Украина") {
    <section class="main no-padding" style="margin-top: 100px;" ng-controller="accountCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Меню</h3>
                        </div>
                        <div class="widget-body" ng-controller="mainCtrl">
                            <ul class="author-menus">
                                <li><a href="/account">Мой профиль</a></li>
                                <li><a href="/account/announcements">Обьявления</a></li>
                                <li><a href="" ng-click="doLogout()">Выход</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Мои обьявления</h4>
                        </div>
                        <div class="panel-body">
                            <div class="before-table">
                                <div class="row">
                                    <div class="col-xs-12" ng-cloak>
                                        <div ng-show="noAds" class="alert alert-warning">У Вас пока нет обьяволений</div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered" ng-cloak>
                                <thead>
                                    <tr>
                                        <th>Фото</th>
                                        <th>Детали</th>
                                        <th>Тип</th>
                                        <th style="width:10%">Действия</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="announcement in announcements | itemsPerPage:4">
                                        <td><img alt="" style="max-height : 100px;" class="thumb-img img-responsive" ng-src="https://www.znahidka.pp.ua:8080/{{announcement.photo}}"></td>
                                        <td>
                                            <div class="item-title"><a ng-href="/announcement/show?id={{announcement.id}}" target="_blank"><strong>{{announcement.title}}</strong></a></div>
                                            <div class="item-meta">
                                                <ul>
                                                    <li class="item-date"><i class="fa fa-clock-o"></i>{{convertToLocalDate(announcement.timestamp)}}</li>
                                                    <li class="item-location"><a href=""><i class="fa fa-map-marker"></i>{{announcement.city}}, {{announcement.region}}</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <strong ng-if="announcement.type == 'lost'">Потеря</strong>
                                            <strong ng-if="announcement.type == 'found'">Находка</strong>
                                        </td>
                                        <td>
                                            <ul class="actions-table">
                                                <li><a ng-href="/announcement/edit?id={{announcement.id}}" style="width: 100%" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i> Изменить</a></li>
                                                <li><a style="width: 100%" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="deleteReq(announcement)"><i class="fa fa-trash"></i> Удалить</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-12  text-right">
                                    <dir-pagination-controls
                                    max-size="10"
                                    direction-links="true"
                                    boundary-links="true" >
                                    </dir-pagination-controls>
                                </div>
                            </div>
                            <div id="deleteModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h4>Удалить это обьявление?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" ng-click="deleteConfirm()">Удалить</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/assets/javascripts/dirPagination.js"></script>

    <script>
        angular.module('lostfoundApp', ['ui.bootstrap', 'angularUtils.directives.dirPagination'])
        .controller('mainCtrl', function($scope, $http, $timeout, $rootScope) {
                $rootScope.title = "Мои обьявления - ";
                $scope.checkSession = function(){
                    $scope.showUserMenu = false;
                    $scope.showProfileLink = false;
                    $http.post('@routes.Account.checkSession()')
                    .success(function(data){
                        if(data.error == ""){
                            $scope.showUserMenu = true;
                            $scope.profile = data.email.substring(0, data.email.lastIndexOf("@@"));
                        }
                        else{
                            $scope.showProfileLink = true;
                        }
                    }).error(function(data){
                        console.log(data);
                    });
                }

                $scope.doLogout = function(){
                    $http.post('@routes.Account.logout()')
                    .success(function(data){
                        window.location.replace("/");
                    }).error(function(data, status){
                        console.log(data);
                    });
                }
        })
        .controller('accountCtrl', function($scope, $http) {
                $scope.noAds = false;

                $scope.getUserAnnouncements = function(){
                    $http.post('@routes.Announcement.getUserAnnouncements()', {"action":"userAnnouncements", "email":$scope.email})
                    .success(function(data){
                            if(data.result.length == 0){
                                $scope.noAds = true;
                                return;
                            }
                            $scope.announcements = data.result;
                            console.log($scope.announcements);
                        }).error(function(data, status){
                            console.log(data);
                    });
                }

                $scope.loadUserData = function(){
                    $http.post('@routes.Account.checkSession()')
                    .success(function(data){
                        if(data.error == ""){
                            $scope.email = data.email;
                            $scope.getUserAnnouncements();
                        }
                        else{
                            window.location.replace("/account/signin");
                        }
                        }).error(function(data, status){
                            console.log(data);
                    });
                }

                $scope.loadUserData();

                $scope.deleteReq = function(announcement){
                    $scope.currentIndex = $scope.announcements.indexOf(announcement);
                    $scope.indexToDelete = announcement.id;
                }

                $scope.deleteConfirm = function(){
                    var url = '@routes.Announcement.deleteAnnouncementById()';
                    var request = $http.post(url,{"action" : "deleteAnnouncement", "id": $scope.indexToDelete.toString()});

                    request.success(function(data, status, headers, config) {
                        if(data.error == ""){
                            console.log($scope.currentIndex);
                             $scope.announcements.splice($scope.currentIndex, 1);
                        }
                        $('#deleteModal').modal('hide');
                    });
                    request.error(function(data, status, headers, config) {
                        console.log("error:"+status);
                    });
                }


                 $scope.doLogout = function(){
                    $http.post('@routes.Account.logout()')
                    .success(function(data){
                        window.location.replace("/");
                    }).error(function(data, status){
                        console.log(data);
                    });
                 }

                 $scope.convertToLocalDate = function(timestamp){
                    var t = timestamp// + moment(timestamp).utcOffset()*60000;
                    var current =  moment(moment(t) - moment().utcOffset()).format('DD-MM-YYYY HH:mm:ss');
                    return current;
                 };

		})
    </script>

}