@main("Новый пароль") {
        <section class="main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 login-form">
                        <div class="panel panel-default" ng-controller="newPasswordCtrl">
                            <div class="panel-intro text-center">
                                <h1 class="logo">Новый пароль</h1>
                            </div>
                            <div class="panel-body">
                                <form id="register" ng-submit="doNewPassword()">
                                    <div class="form-group">
                                        <input type="password" placeholder="Новый пароль" ng-model="password" class="form-control input-lg" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" placeholder="Повторите пароль" ng-model="confpassword" class="form-control input-lg" required>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-block btn-custom">Изменить</button>
                                    </div>
                                </form>
                                <div class="alert alert-danger" id="error" style="display: none;">

                                </div>
                            </div>
                            <div class="panel-footer">
                                <p class="text-center pull-right"> <a href="/account/signin"> Уже есть аккаунт? </a> </p>
                                <div style=" clear:both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <script>
		angular.module('lostfoundApp', ['ui.bootstrap'])
		.controller('mainCtrl', function($scope, $http, $timeout) {

                $scope.checkSession = function(){
                    $scope.showUserMenu = false;
                    $scope.showProfileLink = false;
                    $http.post('@routes.Account.checkSession()')
                    .success(function(data){
                        if(data.error == ""){
                            $scope.showUserMenu = true;
                            $scope.profile = data.email.substring(0, data.email.lastIndexOf("@@"));
                        }
                        else{
                            $scope.showProfileLink = true;
                        }
                    }).error(function(data){
                        console.log(data);
                    });
                }

                $scope.doLogout = function(){
                    $http.post('@routes.Account.logout()')
                    .success(function(data){
                        window.location.replace("/");
                    }).error(function(data, status){
                        console.log(data);
                    });
                }
        })
		.controller('newPasswordCtrl', function($scope, $http) {

		    $scope.doNewPassword = function(){
		        if($scope.password != $scope.confpassword){
                    $("#error").text("Пароли не совпадают").delay(3000).fadeOut("slow");
                    $("#error").css("display","block");
                    return;
                }

                var email = url('?email');
                var hash = url('?hash');
    		    var request = {"action":"newpassword", "params":{"email":email, "hash":hash, "newpassword":$scope.password}};

                $http.post('@routes.Account.doNewPassword()', request)
                 .success(function(data){
                    if(data.error == ""){
                        window.location.replace("/account/signin");
                    }
                    else{
                       $("#error").text(data.error);
    				    $("#error").addClass('alert-danger').removeClass('alert-success').delay(3000).fadeOut("slow");
                        $("#error").css("display","block");
                    }
                 }).error(function(data){
                    console.log(data);
                 });
		    }
		})
    </script>
}



