@main("Регистрация") {
    <div class="container" style="margin-top: 70px;">
        <h2>Подтверждение email</h2>
    </div>

    <script>
        $(document).ready(function(){
            var email = url('?email');
            var hash = url('?hash');

            var request = {"action":"checkReg", "params":{"email":email, "hash":hash}};

            $.ajax({
    			type: "POST",
    			url: "@routes.Account.checkRegistration()",
    			data: JSON.stringify(request),
    			contentType: "application/json; charset=utf-8",
    			success: function(data){

    				console.log(data);

    			}
			});

        });

         angular.module('lostfoundApp', ['ui.bootstrap'])
    </script>

}