@main("О Проекте - Поиск потерянных вещей. Онлайн бюро находок Украина") {

    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb pull-left">
                        <li><a href="/">Главная</a></li>
                        <li>О Проекте</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="post">
                        <div class="post-title">
                            <h2>О проекте</h2>
                        </div>
                        <div class="post-body">
                            <p>
                                А Вы когда-нибудь <strong>теряли</strong> или <strong>находили</strong> вещи или животных? Наверняка это случалось, и в этом случае Вы могли рассказать об этом лишь своим друзьям, знакомым или родственникам, поскольку круг контактов одного человека слишком ограничен.
                            </p>
                            <p>
                                Если вы <strong>потеряли</strong> или <strong>нашли</strong> документы, права, паспорт, животных, людей или какую-нибудь важную вещь, то наш сервис <strong>"Онлайн бюро находок по всей Украине"</strong> поможет вам в возврате потери или поиске владельца. Все что вам нужно - опубликовать обьявление и заполнить необходимую информацию. После этого ваше обьявление станет доступно на сайте,
                                    а также, чтоб о нем узнало больше людей оно будет автоматически опубликовано в наших сообществах в соцсетях <a style="color: #2F99D2" href="http://www.vk.com/znahidkaua">vk.com/znahidkaua</a>, <a style="color: #2F99D2" href="http://www.facebook.com/znahidkaua">facebook.com/znahidkaua</a>
                            </p>
                            <p>
                                В нашей базе собраны обьявления со <strong>всей Украины</strong> и для того чтобы облегчить поиск Вы можете воспользоваться фильтром по городам или выбрать необходимую рубрику.
                            </p>
                            <p>Также вы можете зарегистрироваться на сайте чтобы иметь возможность просматривать, редактировать и удалять свои обьявления.
                            </p>
                            <p>Все объявления, которые публикуются на портале, проверяются модератором и могут быть удалены в случае мошенничества или спама.
                            </p>
                            <p>Мы надеемся, что сервис <strong>"Онлайн бюро находок по всей Украине"</strong> <a style="color: #2F99D2" href="https://www.znahidka.pp.ua">www.znahidka.pp.ua</a> поможет Вам найти то, что вы потеряли, а также вернуть найденные вещи владельцам.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        angular.module('lostfoundApp', ['ui.bootstrap'])
        .controller('mainCtrl', function($scope, $http, $timeout, $rootScope) {
                $rootScope.title = "О Проекте - ";
                $scope.checkSession = function(){
                    $scope.showUserMenu = false;
                    $scope.showProfileLink = false;
                    $http.post('@routes.Account.checkSession()')
                    .success(function(data){
                        if(data.error == ""){
                            $scope.showUserMenu = true;
                            $scope.profile = data.email.substring(0, data.email.lastIndexOf("@@"));
                        }
                        else{
                            $scope.showProfileLink = true;
                        }
                    }).error(function(data){
                        console.log(data);
                    });
                }

                $scope.doLogout = function(){
                    $http.post('@routes.Account.logout()')
                    .success(function(data){
                        window.location.replace("/");
                    }).error(function(data, status){
                        console.log(data);
                    });
                }
        })
    </script>

}