@main("Контакты") {

    <section class="main" ng-controller="contactCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb pull-left">
                        <li><a href="/">Главная</a></li>
                        <li>Контакты</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Сообщение</h3>
                                </div>
                                <div class="widget-body">
                                    <form ng-submit="sendPrivateMessage()">
                                        <p>Вопросы, пожелания, предложения? Свяжитесь с нами! </p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="text" ng-model="name" placeholder="Имя" class="form-control input-lg" required>
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="email" ng-model="email" placeholder="Email-адрес" class="form-control input-lg" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <textarea rows="6" ng-model="message" placeholder="Текст сообщения..." class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p class="pull-right" id="error" style="display:  inline-block; color: red; margin-right: 10px;" ng-cloak><i class="fa fa-remove"></i> {{error}}4564564564</p>
                                                <p class="pull-right" id="success" style="display: inline-block; color: green; margin-right: 10px;" ng-cloak><i class="fa fa-check"></i> {{success}}</p>
                                                <button class="btn btn-success pull-right" type="submit"><i class="fa fa-spinner fa-spin" ng-show="loading"></i><i class="fa fa-paper-plane" ng-show="!loading"></i> Отправить</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        angular.module('lostfoundApp', ['ui.bootstrap'])
        .controller('mainCtrl', function($scope, $http, $timeout) {

                $scope.checkSession = function(){
                    $scope.showUserMenu = false;
                    $scope.showProfileLink = false;
                    $http.post('@routes.Account.checkSession()')
                    .success(function(data){
                        if(data.error == ""){
                            $scope.showUserMenu = true;
                            $scope.profile = data.email.substring(0, data.email.lastIndexOf("@@"));
                        }
                        else{
                            $scope.showProfileLink = true;
                        }
                    }).error(function(data){
                        console.log(data);
                    });
                }

                $scope.doLogout = function(){
                    $http.post('@routes.Account.logout()')
                    .success(function(data){
                        window.location.replace("/");
                    }).error(function(data, status){
                        console.log(data);
                    });
                }
        })

        .controller('contactCtrl', function($scope, $http, $timeout){
            $scope.loading = false;
            $("#error").hide();
            $("#success").hide();
            $scope.sendPrivateMessage = function(){
                var params = {"email":$scope.email, "name":$scope.name, "message":$scope.message};

                $scope.loading = true;
                $http.post('@routes.Home.sendPrivateMessage()', params)
                .success(function(data){
                    $scope.loading = false;
                    if(data.error == ""){
                        $scope.success = "Сообщение отправлено";
                        $("#success").show().delay(3000).fadeOut("slow");
                    }
                }).error(function(data, status){
                    console.log(data);
                    $scope.loading = false;
                    $scope.error = "Не удалось отправить сообщение";
                    $("#error").show().delay(3000).fadeOut("slow");
                });
            }
        })
    </script>

}