@(keywords: String, title: String, category: String)
<!DOCTYPE html>
<html>
    <head>
        <title>@title Результаты поиска @category - Бюро находок Украина</title>
        <meta property="og:title" content="@title Результаты поиска @category - Бюро находок Украина" />
        <meta property="og:description" content="@title Результаты поиска - @category Онлайн сервис по поиску потерянных и найденных вещей, людей и животных в Украине" />
        <meta property="og:image" content="https://www.znahidka.pp.ua:8080/images/fblogo.png"/>
        <meta name="description" content="@title Результаты поиска. Онлайн сервис по поиску потерянных и найденных вещей, людей и животных в Украине" />
        <meta name="keywords" content="@keywords, сайт находок, бюро находок, сайт потерянных вещей, бюро находок Украина, сайт потерянных вещей Украина, потерял паспорт, потерял ключи, потерянные документы, потерял документы что делать, найдена собака, пропала кошка, пропал кот, пропала найдена кошка, пропал человек, пропал подросток, пропал ребенок, пропала девушка, пропал мужчина, пропали документы, жди меня, нашлась кошка, найдена кошка, нашлась собака, найдена собака, найдены документы, найден человек, утеряны документы на машину, сайт пошуку людей, стол находок, объявления о пропаже собак, объявления о пропаже кошек, объявления о пропаже людей, объявления о пропаже документов, объявления о пропаже животных, объявления о найденных животных, объявления о найденных людях, объявления о найденных вещах, объявления о найденных документах, потерял документы" />
    </head>
    <body>
        <h1>@title Результаты поиска @category - Бюро находок Украина</h1>
        <h4 class="text-center"><a href="/announcement/new" ng-show="emptyresult" style = "color: #2F99D2; text-decoration: underline">Подать обьявление</a></h4>
        <p>Описание: @title Результаты поиска. Онлайн сервис по поиску потерянных и найденных вещей, людей и животных в Украине</p>
        <img src="@routes.Assets.at("images/fblogo.png")"/>
    </body>
</html>

